// Create a partial (config file) to store variables and functions for main.scss
// COLOR VARIABLES
$primary-color: #3e3e3e;
$secondary-color: #3cd0f2;
// #ff7e42;
$tertiary-color: #4ea1b9;
// #1ac7e0;
$link-color: #ff7e42;
// #aace49;
$icon-color: #aace49;
// #e76125;
$border-color: #1c778c;
// #aace49;

// IMAGE VARIABLES
$show-home-image: true;
$home-image: url(../img/background3.jpg);
$background-opacity: 0.75;

// MIXINS
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      // Remove overlay class and replace with pseudo element, so that an overlay div isn't necessary in the index.html
      //   .overlay {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // Set z-index farther away so text is on top of overlay
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Media Query Mixins
// @mixin;
